
<!DOCTYPE html>
<html>
<head>
    <title>Pergunta-3</title>
</head>
<body>
    <h1>Pergunta 3:</h1>
    <br>
    <p>Considere as afirmações:
<br>I. Todo crocodilo é um réptil.
<br>II. Todo réptil é um animal.
<br>III. Todo animal é um ser vivo.
<br>Deste modo, é correta a afirmação:</p>
    <ul>
        <li>a) 19 anos.</li>
        <li>b) 8 anos.</li>
        <li>c) 11 anos.</li>
        <li>d) 15 anos.</li>
    </ul>
    <a href="{{ url_for('pergunta4') }}">proxima pergunta</a>
</body>
</html>

