
<!DOCTYPE html>
<html>
<head>
    <title>Pergunta-5, Última</title>
</head>
<body>
    <h1>Pergunta 5:</h1>
    <br>
    <p>Quatro suspeitos de praticar um crime fazem as seguintes declarações:
    <br>
    João: Carlos é o criminoso
    <br>
    Pedro: eu não sou criminoso
    <br>
    Carlos: Paulo é o criminoso
    <br>
    Paulo: Carlos está mentindo
    <br>
    Sabendo que apenas um dos suspeitos mente, determine quem é o criminoso.
    </p>
    <ul>
        <li>a) João</li>
        <li>b) Pedro</li>
        <li>c) Carlos</li>
        <li>d) Paulo</li>
    </ul>
    <a href="{{ url_for('fim') }}">Finalizar Prova</a>
</body>
</html>

