<!DOCTYPE html>
<html>
<head>
    <title>Pergunta-4</title>
</head>
<body>
    <h1>Pergunta 4:</h1>
    <br>
    <p>(FGV/TRT-SC) Alguns consideram que a cidade de Florianópolis foi fundada no dia 23 de março de
1726, que caiu em um sábado.
<br> Após 90 dias, no dia 21 de junho, a data assinalou o início do
inverno, quando a noite é a mais longa do ano.
<br>Esse dia caiu em uma:</p>
    <ul>
        <li>a) terça-feira </li>
        <li>b) quarta-feira </li>
        <li>c) quinta-feira </li>
        <li>d) sexta-feira </li>
    </ul>
    <a href="{{ url_for('pergunta5') }}">proxima pergunta</a>
</body>
</html>

