<!DOCTYPE html>
<html>
<head>
    <title>Pergunta-1</title>
</head>
<body>
    <h1>Pergunta 1:</h1>
    <br>
    <p>Nasci 11 anos depois do meu irmão. Nossa mãe, que está com 39 anos, é seis anos mais nova que
    meu pai. <br> Se o primeiro filho do meu pai nasceu em seu aniversário de 26 anos, atualmente tenho</p>
    <ul>
        <li>a) 19 anos.</li>
        <li>b) 8 anos.</li>
        <li>c) 11 anos.</li>
        <li>d) 15 anos.</li>
    </ul>
    <a href="{{ url_for('pergunta2') }}">Proxima pergunta</a>
</body>
</html>
